* {
    margin: 0;
    padding: 0;
}

.centered-text {
    display: block;
    text-align: center;
}

.feedback-form {
    background: rebeccapurple;
}

.captcha {
    width: 100%;
    height: 34px;
    margin-top: -7px;
}

.status-form-message {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
    display: none;
}

.status-form-message-close {
    display: none;
    cursor: pointer;
    position: absolute;
    margin-top: -40px;
    right: 30px;
}

.filter {
    margin-left: 60px;
}

#feedbackTable tr td,
#feedbackTable tr th{
    padding: 5px;
    border: 1px solid;
}